# Spaceship Titanic Kaggle Competition

## Dataset Description
In this competition your task is to predict whether a passenger was transported to an alternate dimension during the Spaceship Titanic's collision with the spacetime anomaly. To help you make these predictions, you're given a set of personal records recovered from the ship's damaged computer system.

## File and Data Field Descriptions
### `train.csv` 
Personal records for about two-thirds (~8700) of the passengers, to be used as training data.

`PassengerId` - A unique Id for each passenger. Each Id takes the form gggg_pp where gggg indicates a group the passenger is travelling with and pp is their number within the group. People in a group are often family members, but not always.

`HomePlanet` - The planet the passenger departed from, typically their planet of permanent residence.

`CryoSleep` - Indicates whether the passenger elected to be put into suspended animation for the duration of the voyage. Passengers in cryosleep are confined to their cabins.

`Cabin` - The cabin number where the passenger is staying. Takes the form deck/num/side, where side can be either P for Port or S for Starboard.

`Destination` - The planet the passenger will be debarking to.

`Age` - The age of the passenger.

`VIP` - Whether the passenger has paid for special VIP service during the voyage.

`RoomService`, `FoodCourt`, `ShoppingMall`, `Spa`, `VRDeck` - Amount the passenger has billed at each of the Spaceship Titanic's many luxury amenities.

`Name` - The first and last names of the passenger.

`Transported` - Whether the passenger was transported to another dimension. This is the target, the column you are trying to predict.

### `test.csv` 
Personal records for the remaining one-third (~4300) of the passengers, to be used as test data. Your task is to predict the value of Transported for the passengers in this set.

### `sample_submission.csv` 
A submission file in the correct format.

`PassengerId` - Id for each passenger in the test set.

`Transported` - The target. For each passenger, predict either True or False.

### Imports

In [225]:
import torch
import pandas as pd
import numpy as np
import time
from sklearn.preprocessing import LabelEncoder
import torch.nn as nn
import torch.nn.functional as F
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from torch.utils.tensorboard import SummaryWriter

In [226]:
writer = SummaryWriter(f'runs/exp-{time.time}')

# Define the CSV file path
train_file = 'train.csv' 
test_file = 'test.csv' 

# Read the CSV file into a pandas DataFrame
train_df = pd.read_csv(train_file)
test_df = pd.read_csv(test_file)

# Apply correct data type to some fields
train_df['CryoSleep'] = train_df['CryoSleep'].astype(bool)
train_df['VIP'] = train_df['VIP'].astype(bool)

train_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

### Preprocessing

Add a field called GroupId to the data. This is the first four characters of the PassengerId field.

In [227]:
train_df['GroupId'] = train_df['PassengerId'].str[:4].astype(int)

# Display the updated DataFrame
train_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,GroupId
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,1
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,2
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,3
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,3
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,4

Set CryoSleep to true if `RoomService`, `FoodCourt`, `ShoppingMall`, `Spa`, `VRDeck` are 0.

In [228]:
# Create a boolean condition to check if 'CryoSleep' is null and all specified columns are 0
condition = (train_df['CryoSleep'].isnull()) & (train_df['RoomService'] == 0) & (train_df['FoodCourt'] == 0) & (train_df['ShoppingMall'] == 0) & (train_df['Spa'] == 0) & (train_df['VRDeck'] == 0)

# Set 'CryoSleep' to True where the condition is True
train_df.loc[condition, 'CryoSleep'] = True

# Create a boolean condition to check if any of the specified columns are greater than 0
condition = (train_df['RoomService'] > 0) | (train_df['FoodCourt'] > 0) | (train_df['ShoppingMall'] > 0) | (train_df['Spa'] > 0) | (train_df['VRDeck'] > 0)

# Set 'CryoSleep' to False where the condition is True
train_df.loc[condition, 'CryoSleep'] = False


# Display the updated DataFrame
train_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,GroupId
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,1
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,2
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,3
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,3
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,4

If `Cabin` field is missing, copy it from a row with same `GroupId`

In [229]:
# Define a function to copy 'Cabin' from another row with the same 'GroupId'
def copy_cabin(row):
    if pd.isna(row['Cabin']):
        same_group = train_df[train_df['GroupId'] == row['GroupId']]
        if not same_group.empty:
            return same_group.iloc[0]['Cabin']
    return row['Cabin']

# Apply the function to fill missing 'Cabin' values
train_df['Cabin'] = train_df.apply(copy_cabin, axis=1)

train_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,GroupId
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,1
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,2
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,3
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,3
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,4

Split field `Cabin` into `CabinDeck`, `CabinNum` and `CabinSide`.

In [230]:
# Split the 'Cabin' column into three new columns: 'CabinDeck', 'CabinNum', and 'CabinSide'
train_df[['CabinDeck', 'CabinNum', 'CabinSide']] = train_df['Cabin'].str.extract('([A-Za-z]+)/(\d+)/([A-Za-z]+)')

# Display the updated DataFrame
train_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,GroupId,CabinDeck,CabinNum,CabinSide
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,1,B,0,P
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,2,F,0,S
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,3,A,0,S
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,3,A,0,S
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,4,F,1,S

Remove fields `HomePlanet`, `Destination`, `Cabin`, `Name`

In [231]:
# List of columns to remove
columns_to_remove = ['HomePlanet', 'Destination', 'Cabin', 'Name']

# Drop the specified columns from the DataFrame
train_df = train_df.drop(columns=columns_to_remove)

# Display the updated DataFrame
train_df.head()

,PassengerId,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,GroupId,CabinDeck,CabinNum,CabinSide
0,0001_01,False,39.0,False,0.0,0.0,0.0,0.0,0.0,False,1,B,0,P
1,0002_01,False,24.0,False,109.0,9.0,25.0,549.0,44.0,True,2,F,0,S
2,0003_01,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,3,A,0,S
3,0003_02,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,3,A,0,S
4,0004_01,False,16.0,False,303.0,70.0,151.0,565.0,2.0,True,4,F,1,S

If CryoSleep is true set `RoomService`, `FoodCourt`, `ShoppingMall`, `Spa`, and `VRDeck` to be 0.
If CryoSleep is false set `RoomService`, `FoodCourt`, `ShoppingMall`, `Spa`, and `VRDeck` to be the mean of the non-zero values.

In [232]:
# Set the specified columns to 0 where 'CryoSleep' is true
train_df.loc[train_df['CryoSleep'], ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']] = 0

# Calculate the means of the columns
mean_room_service = int(train_df[train_df['CryoSleep'] == False]['RoomService'].mean())
mean_food_court = int(train_df[train_df['CryoSleep'] == False]['FoodCourt'].mean())
mean_shopping_mall = int(train_df[train_df['CryoSleep'] == False]['ShoppingMall'].mean())
mean_spa = int(train_df[train_df['CryoSleep'] == False]['Spa'].mean())
mean_vr_deck = int(train_df[train_df['CryoSleep'] == False]['VRDeck'].mean())

# Fill missing values with the calculated means
train_df['RoomService'].fillna(mean_room_service, inplace=True)
train_df['FoodCourt'].fillna(mean_food_court, inplace=True)
train_df['ShoppingMall'].fillna(mean_shopping_mall, inplace=True)
train_df['Spa'].fillna(mean_spa, inplace=True)
train_df['VRDeck'].fillna(mean_vr_deck, inplace=True)

# Display the updated DataFrame
train_df.head()

,PassengerId,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,GroupId,CabinDeck,CabinNum,CabinSide
0,0001_01,False,39.0,False,0.0,0.0,0.0,0.0,0.0,False,1,B,0,P
1,0002_01,False,24.0,False,109.0,9.0,25.0,549.0,44.0,True,2,F,0,S
2,0003_01,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,3,A,0,S
3,0003_02,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,3,A,0,S
4,0004_01,False,16.0,False,303.0,70.0,151.0,565.0,2.0,True,4,F,1,S

Replace missing age with mean age

In [233]:
mean_age = train_df['Age'].mean()

# Fill missing value with the calculated mean
train_df['Age'].fillna(mean_age, inplace=True)
train_df['Age'] = train_df['Age'].astype(int)

# Display the updated DataFrame
train_df.head()

,PassengerId,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,GroupId,CabinDeck,CabinNum,CabinSide
0,0001_01,False,39,False,0.0,0.0,0.0,0.0,0.0,False,1,B,0,P
1,0002_01,False,24,False,109.0,9.0,25.0,549.0,44.0,True,2,F,0,S
2,0003_01,False,58,True,43.0,3576.0,0.0,6715.0,49.0,False,3,A,0,S
3,0003_02,False,33,False,0.0,1283.0,371.0,3329.0,193.0,False,3,A,0,S
4,0004_01,False,16,False,303.0,70.0,151.0,565.0,2.0,True,4,F,1,S

Convert categorical data to Tensors using LabelEncoder and Numpy

In [234]:
cat_features=["CryoSleep", "VIP", "CabinDeck", "CabinNum", "CabinSide"]
lbl_encoders={}
for feature in cat_features:
    lbl_encoders[feature]=LabelEncoder()
    train_df[feature]=lbl_encoders[feature].fit_transform(train_df[feature])

### Stacking the features
cat_values=np.stack([train_df[i].values for i in cat_features], 1)

### Convert numpy to Tensors
cat_values=torch.tensor(cat_values,dtype=torch.int64)
cat_values

tensor([[   0,    0,    1,    0,    0],
        [   0,    0,    5,    0,    1],
        [   0,    1,    0,    0,    1],
        ...,
        [   0,    0,    6,  551,    1],
        [   0,    0,    4, 1385,    1],
        [   0,    0,    4, 1385,    1]])

Convert Continous data to Tensors using Numpy

In [235]:
cont_features=["GroupId", "Age", "RoomService", "FoodCourt", "ShoppingMall", "Spa", "VRDeck"]

### Stacking continuous variable to a tensor
cont_values=np.stack([train_df[i].values for i in cont_features],axis=1)
cont_values=torch.tensor(cont_values,dtype=torch.float)
cont_values

tensor([[1.0000e+00, 3.9000e+01, 0.0000e+00,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        [2.0000e+00, 2.4000e+01, 1.0900e+02,  ..., 2.5000e+01, 5.4900e+02,
         4.4000e+01],
        [3.0000e+00, 5.8000e+01, 4.3000e+01,  ..., 0.0000e+00, 6.7150e+03,
         4.9000e+01],
        ...,
        [9.2790e+03, 2.6000e+01, 0.0000e+00,  ..., 1.8720e+03, 1.0000e+00,
         0.0000e+00],
        [9.2800e+03, 3.2000e+01, 0.0000e+00,  ..., 0.0000e+00, 3.5300e+02,
         3.2350e+03],
        [9.2800e+03, 4.4000e+01, 1.2600e+02,  ..., 0.0000e+00, 0.0000e+00,
         1.2000e+01]])

Extract the dependent feature `Transported`

In [236]:
### Dependent Feature 
lbl_encoders={}
lbl_encoders["Transported"]=LabelEncoder()
train_df["Transported"]=lbl_encoders["Transported"].fit_transform(train_df["Transported"])

y=torch.tensor(train_df["Transported"].values,dtype=torch.float).reshape(-1,1)
y

tensor([[0.],
        [1.],
        [0.],
        ...,
        [1.],
        [0.],
        [1.]])

Check the sizes of feature tensors

In [237]:
cat_values.shape, cont_values.shape, y.shape

(torch.Size([8693, 5]), torch.Size([8693, 7]), torch.Size([8693, 1]))

Calculate embedding dimensions for Categorical Data

In [238]:
#### Embedding Size For Categorical columns
cat_dims=[len(train_df[col].unique()) for col in cat_features]
embedding_dims = [(x, min(50, (x + 1) // 2)) for x in cat_dims]

embedding_dims

[(2, 1), (2, 1), (9, 5), (1818, 50), (3, 2)]

### Artificial Neural Network

Create the Neural Network Class

In [239]:
class TitanicClassifier(nn.Module):

    def __init__(self, num_continuous, embedding_dims, hidden_dims):
        super(TitanicClassifier, self).__init__()

        # Embedding layers for categorical variables
        self.embeddings  = nn.ModuleList([nn.Embedding(inp,out) for inp,out in embedding_dims])

        # Fully connected layers for continuous variables
        self.fc_continuous = nn.Sequential(
            nn.Linear(num_continuous, hidden_dims[0]),
            nn.ReLU(),
            nn.Linear(hidden_dims[0], hidden_dims[1]),
            nn.ReLU()
        )

        # Combined feature representation
        self.combined_dim = sum((out for inp,out in embedding_dims)) + hidden_dims[1]

        # Fully connected layers for combined features
        self.fc_combined = nn.Sequential(
            nn.Linear(self.combined_dim, hidden_dims[2]),
            nn.ReLU(),
            nn.Dropout(0.3),  # Dropout for regularization
            nn.Linear(hidden_dims[2], hidden_dims[3]),
            nn.ReLU(),
            nn.Dropout(0.3)
        )

        # Output layer for binary classification
        self.fc_output = nn.Linear(hidden_dims[3], 1)
    
    def forward(self, x_cat, x_cont):
        # Embed categorical variables
        embedded_data = []
        for i,e in enumerate(self.embeddings):
            embedded_data.append(e(x_cat[:,i]))  # This will get the all the rows for the i th column
        embedded_data = torch.cat(embedded_data, dim=1)

        # Pass continuous variables through FC layers
        continuous_out = self.fc_continuous(x_cont)

        # Concatenate embeddings and continuous data
        combined_data = torch.cat([embedded_data, continuous_out], dim=1)

        # Pass through FC layers for combined features
        combined_out = self.fc_combined(combined_data)

        # Output layer for binary classification
        output = torch.sigmoid(self.fc_output(combined_out))

        return output

Check model

In [240]:
torch.manual_seed(100)
model=TitanicClassifier(len(cont_features), embedding_dims, [60,30,50,50])
model

TitanicClassifier(
  (embeddings): ModuleList(
    (0-1): 2 x Embedding(2, 1)
    (2): Embedding(9, 5)
    (3): Embedding(1818, 50)
    (4): Embedding(3, 2)
  )
  (fc_continuous): Sequential(
    (0): Linear(in_features=7, out_features=60, bias=True)
    (1): ReLU()
    (2): Linear(in_features=60, out_features=30, bias=True)
    (3): ReLU()
  )
  (fc_combined): Sequential(
    (0): Linear(in_features=89, out_features=50, bias=True)
    (1): ReLU()
    (2): Dropout(p=0.3, inplace=False)
    (3): Linear(in_features=50, out_features=50, bias=True)
    (4): ReLU()
    (5): Dropout(p=0.3, inplace=False)
  )
  (fc_output): Linear(in_features=50, out_features=1, bias=True)
)

Split into test and train data

In [241]:
# Define the sizes for train, validate, and test sets
train_size = 0.78  # 78% for training
validate_size = 0.02  # 2% for validation
test_size = 0.2  # 20% for testing

# Split categorical and continuous data
X_train_categ, X_non_train_categ = train_test_split(cat_values, test_size=1-train_size, random_state=42, shuffle=False) 
X_validate_categ, X_test_categ = train_test_split(X_non_train_categ, test_size=test_size/(validate_size+test_size), random_state=42, shuffle=False)

X_train_cont, X_non_train_cont = train_test_split(cont_values, test_size=1-train_size, random_state=42, shuffle=False)
X_validate_cont, X_test_cont = train_test_split(X_non_train_cont, test_size=test_size/(validate_size+test_size), random_state=42, shuffle=False)

# Split target variable
y_train, y_non_train = train_test_split(y, test_size=1-train_size, random_state=42, shuffle=False) 
y_validate, y_test = train_test_split(y_non_train, test_size=test_size/(validate_size+test_size), random_state=42, shuffle=False)

print(X_train_categ.shape, X_train_cont.shape, y_train.shape)
print(X_validate_categ.shape, X_validate_cont.shape, y_validate.shape)
print(X_test_categ.shape, X_test_cont.shape, y_test.shape)

torch.Size([6780, 5]) torch.Size([6780, 7]) torch.Size([6780, 1])
torch.Size([173, 5]) torch.Size([173, 7]) torch.Size([173, 1])
torch.Size([1740, 5]) torch.Size([1740, 7]) torch.Size([1740, 1])

Training the model if pretrained model is not available

In [242]:
loss_function = nn.MSELoss()
optimizer=torch.optim.Adam(model.parameters(),lr=0.01)

try:
    model.load_state_dict(torch.load('model.pt'))
    model.eval()

except FileNotFoundError:
    epochs=2000
    running_loss = 0
    for i in range(1, epochs + 1):
        y_pred=model(X_train_categ,X_train_cont)
        loss = loss_function(y_pred, y_train)
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

        running_loss += loss.item()
        if i % 10 == 0:    # Print every 10 epochs
            print("Epoch number: {} and the loss : {}".format(i,loss.item()))

            # Check against the validation set
            running_vloss = 0.0

            with torch.no_grad():
                for j in range(len(y_validate)):
                    voutputs = model(X_train_categ[j].unsqueeze(0) ,X_train_cont[j].unsqueeze(0))
                    vloss = loss_function(voutputs, y_validate[j].unsqueeze(0))
                    running_vloss += vloss.item()

            avg_loss = running_loss / 10
            avg_vloss = running_vloss / len(y_validate)

            # Log the running loss averaged per batch
            writer.add_scalars('Training vs. Validation Loss',
                            { 'Training' : avg_loss, 'Validation' : avg_vloss }, i)

            running_loss = 0.0

    print("Training finished")
    writer.flush()

Epoch number: 10 and the loss : 0.2532404661178589
Epoch number: 20 and the loss : 0.21379368007183075
Epoch number: 30 and the loss : 0.20177453756332397
Epoch number: 40 and the loss : 0.1854141801595688
Epoch number: 50 and the loss : 0.17373855412006378
Epoch number: 60 and the loss : 0.13628359138965607
Epoch number: 70 and the loss : 0.11816923320293427
Epoch number: 80 and the loss : 0.1005827933549881
Epoch number: 90 and the loss : 0.09066595137119293
Epoch number: 100 and the loss : 0.08308704197406769
Epoch number: 110 and the loss : 0.07797357439994812
Epoch number: 120 and the loss : 0.06898043304681778
Epoch number: 130 and the loss : 0.06415612995624542
Epoch number: 140 and the loss : 0.059274788945913315
Epoch number: 150 and the loss : 0.055996205657720566
Epoch number: 160 and the loss : 0.050722889602184296
Epoch number: 170 and the loss : 0.04965534806251526
Epoch number: 180 and the loss : 0.048329006880521774
Epoch number: 190 and the loss : 0.04563635215163231
Epoch number: 200 and the loss : 0.04547732323408127
Epoch number: 210 and the loss : 0.04295193403959274
Epoch number: 220 and the loss : 0.043046530336141586
Epoch number: 230 and the loss : 0.04179790988564491
Epoch number: 240 and the loss : 0.0400523766875267
Epoch number: 250 and the loss : 0.03933754563331604
Epoch number: 260 and the loss : 0.03747450187802315
Epoch number: 270 and the loss : 0.038930922746658325
Epoch number: 280 and the loss : 0.039277464151382446
Epoch number: 290 and the loss : 0.03933314234018326
Epoch number: 300 and the loss : 0.034164994955062866
Epoch number: 310 and the loss : 0.035733066499233246
Epoch number: 320 and the loss : 0.0348004549741745
Epoch number: 330 and the loss : 0.03271094337105751
Epoch number: 340 and the loss : 0.03265710175037384
Epoch number: 350 and the loss : 0.030789071694016457
Epoch number: 360 and the loss : 0.02940727025270462
Epoch number: 370 and the loss : 0.032055389136075974
Epoch number: 380 and the loss : 0.035633355379104614
Epoch number: 390 and the loss : 0.037316542118787766
Epoch number: 400 and the loss : 0.03302805498242378
Epoch number: 410 and the loss : 0.029706323519349098
Epoch number: 420 and the loss : 0.02912149392068386
Epoch number: 430 and the loss : 0.027385016903281212
Epoch number: 440 and the loss : 0.028692858293652534
Epoch number: 450 and the loss : 0.029810570180416107
Epoch number: 460 and the loss : 0.027318667620420456
Epoch number: 470 and the loss : 0.03138238564133644
Epoch number: 480 and the loss : 0.02600705809891224
Epoch number: 490 and the loss : 0.028663644567131996
Epoch number: 500 and the loss : 0.027802467346191406
Epoch number: 510 and the loss : 0.027415871620178223
Epoch number: 520 and the loss : 0.03227042779326439
Epoch number: 530 and the loss : 0.029824405908584595
Epoch number: 540 and the loss : 0.028534075245261192
Epoch number: 550 and the loss : 0.02624480426311493
Epoch number: 560 and the loss : 0.026643970981240273
Epoch number: 570 and the loss : 0.025265077129006386
Epoch number: 580 and the loss : 0.025188766419887543
Epoch number: 590 and the loss : 0.02446749433875084
Epoch number: 600 and the loss : 0.026804400607943535
Epoch number: 610 and the loss : 0.02542790398001671
Epoch number: 620 and the loss : 0.026985352858901024
Epoch number: 630 and the loss : 0.02629203535616398
Epoch number: 640 and the loss : 0.025959806516766548
Epoch number: 650 and the loss : 0.02551860734820366
Epoch number: 660 and the loss : 0.025961849838495255
Epoch number: 670 and the loss : 0.025564340874552727
Epoch number: 680 and the loss : 0.02502712607383728
Epoch number: 690 and the loss : 0.02751918137073517
Epoch number: 700 and the loss : 0.02840915508568287
Epoch number: 710 and the loss : 0.02740778960287571
Epoch number: 720 and the loss : 0.028626717627048492
Epoch number: 730 and the loss : 0.02623150311410427
Epoch number: 740 and the loss : 0.025656409561634064
Epoch number: 750 and the loss : 0.025715114548802376
Epoch number: 760 and the loss : 0.024094300344586372
Epoch number: 770 and the loss : 0.025763384997844696
Epoch number: 780 and the loss : 0.02300511859357357
Epoch number: 790 and the loss : 0.024697929620742798
Epoch number: 800 and the loss : 0.026357484981417656
Epoch number: 810 and the loss : 0.026831576600670815
Epoch number: 820 and the loss : 0.02589762583374977
Epoch number: 830 and the loss : 0.024128561839461327
Epoch number: 840 and the loss : 0.024853451177477837
Epoch number: 850 and the loss : 0.024033816531300545
Epoch number: 860 and the loss : 0.021979592740535736
Epoch number: 870 and the loss : 0.023374442011117935
Epoch number: 880 and the loss : 0.024525810033082962
Epoch number: 890 and the loss : 0.023689694702625275
Epoch number: 900 and the loss : 0.022414665669202805
Epoch number: 910 and the loss : 0.021853264421224594
Epoch number: 920 and the loss : 0.021809006109833717
Epoch number: 930 and the loss : 0.023189686238765717
Epoch number: 940 and the loss : 0.02231306955218315
Epoch number: 950 and the loss : 0.02367030456662178
Epoch number: 960 and the loss : 0.02773747593164444
Epoch number: 970 and the loss : 0.025103449821472168
Epoch number: 980 and the loss : 0.025132320821285248
Epoch number: 990 and the loss : 0.023818830028176308
Epoch number: 1000 and the loss : 0.022917490452528
Epoch number: 1010 and the loss : 0.023020021617412567
Epoch number: 1020 and the loss : 0.02285614423453808
Epoch number: 1030 and the loss : 0.022340338677167892
Epoch number: 1040 and the loss : 0.02216038666665554
Epoch number: 1050 and the loss : 0.022221267223358154
Epoch number: 1060 and the loss : 0.02120557613670826
Epoch number: 1070 and the loss : 0.02312752790749073
Epoch number: 1080 and the loss : 0.023612314835190773
Epoch number: 1090 and the loss : 0.022071819752454758
Epoch number: 1100 and the loss : 0.022068247199058533
Epoch number: 1110 and the loss : 0.022256476804614067
Epoch number: 1120 and the loss : 0.021663878113031387
Epoch number: 1130 and the loss : 0.02532275766134262
Epoch number: 1140 and the loss : 0.02379542961716652
Epoch number: 1150 and the loss : 0.024068070575594902
Epoch number: 1160 and the loss : 0.024922357872128487
Epoch number: 1170 and the loss : 0.027091754600405693
Epoch number: 1180 and the loss : 0.02651388756930828
Epoch number: 1190 and the loss : 0.026007287204265594
Epoch number: 1200 and the loss : 0.024650875478982925
Epoch number: 1210 and the loss : 0.024055898189544678
Epoch number: 1220 and the loss : 0.023028232157230377
Epoch number: 1230 and the loss : 0.023893233388662338
Epoch number: 1240 and the loss : 0.027691349387168884
Epoch number: 1250 and the loss : 0.02531920187175274
Epoch number: 1260 and the loss : 0.02522367238998413
Epoch number: 1270 and the loss : 0.023338643833994865
Epoch number: 1280 and the loss : 0.022560207173228264
Epoch number: 1290 and the loss : 0.02180050127208233
Epoch number: 1300 and the loss : 0.0215623639523983
Epoch number: 1310 and the loss : 0.021887281909585
Epoch number: 1320 and the loss : 0.021014457568526268
Epoch number: 1330 and the loss : 0.021286770701408386
Epoch number: 1340 and the loss : 0.021535813808441162
Epoch number: 1350 and the loss : 0.02095780335366726
Epoch number: 1360 and the loss : 0.021887827664613724
Epoch number: 1370 and the loss : 0.021285412833094597
Epoch number: 1380 and the loss : 0.021105943247675896
Epoch number: 1390 and the loss : 0.02354356460273266
Epoch number: 1400 and the loss : 0.022487200796604156
Epoch number: 1410 and the loss : 0.02236591838300228
Epoch number: 1420 and the loss : 0.024833930656313896
Epoch number: 1430 and the loss : 0.024211296811699867
Epoch number: 1440 and the loss : 0.022839942947030067
Epoch number: 1450 and the loss : 0.027965500950813293
Epoch number: 1460 and the loss : 0.023178277537226677
Epoch number: 1470 and the loss : 0.021631265059113503
Epoch number: 1480 and the loss : 0.02299577184021473
Epoch number: 1490 and the loss : 0.02200702391564846
Epoch number: 1500 and the loss : 0.022434797137975693
Epoch number: 1510 and the loss : 0.024205157533288002
Epoch number: 1520 and the loss : 0.021193575114011765
Epoch number: 1530 and the loss : 0.021568240597844124
Epoch number: 1540 and the loss : 0.022678537294268608
Epoch number: 1550 and the loss : 0.02087991312146187
Epoch number: 1560 and the loss : 0.020987460389733315
Epoch number: 1570 and the loss : 0.02083105966448784
Epoch number: 1580 and the loss : 0.021068517118692398
Epoch number: 1590 and the loss : 0.021635567769408226
Epoch number: 1600 and the loss : 0.020440660417079926
Epoch number: 1610 and the loss : 0.020384276285767555
Epoch number: 1620 and the loss : 0.021686987951397896
Epoch number: 1630 and the loss : 0.021810544654726982
Epoch number: 1640 and the loss : 0.021043039858341217
Epoch number: 1650 and the loss : 0.020819367840886116
Epoch number: 1660 and the loss : 0.02147510275244713
Epoch number: 1670 and the loss : 0.022043580189347267
Epoch number: 1680 and the loss : 0.02177935652434826
Epoch number: 1690 and the loss : 0.02088785730302334
Epoch number: 1700 and the loss : 0.020595714449882507
Epoch number: 1710 and the loss : 0.020825300365686417
Epoch number: 1720 and the loss : 0.02251271903514862
Epoch number: 1730 and the loss : 0.019959425553679466
Epoch number: 1740 and the loss : 0.021327432245016098
Epoch number: 1750 and the loss : 0.02324110083281994
Epoch number: 1760 and the loss : 0.022474907338619232
Epoch number: 1770 and the loss : 0.023292236030101776
Epoch number: 1780 and the loss : 0.02208910696208477
Epoch number: 1790 and the loss : 0.02141840010881424
Epoch number: 1800 and the loss : 0.022152753546833992
Epoch number: 1810 and the loss : 0.021711882203817368
Epoch number: 1820 and the loss : 0.02239503711462021
Epoch number: 1830 and the loss : 0.022891493514180183
Epoch number: 1840 and the loss : 0.02252948470413685
Epoch number: 1850 and the loss : 0.02185669355094433
Epoch number: 1860 and the loss : 0.022402945905923843
Epoch number: 1870 and the loss : 0.02192647010087967
Epoch number: 1880 and the loss : 0.020934028550982475
Epoch number: 1890 and the loss : 0.021487370133399963
Epoch number: 1900 and the loss : 0.022175800055265427
Epoch number: 1910 and the loss : 0.022011443972587585
Epoch number: 1920 and the loss : 0.022001391276717186
Epoch number: 1930 and the loss : 0.023458879441022873
Epoch number: 1940 and the loss : 0.02469208836555481
Epoch number: 1950 and the loss : 0.023853497579693794
Epoch number: 1960 and the loss : 0.023829611018300056
Epoch number: 1970 and the loss : 0.022323016077280045
Epoch number: 1980 and the loss : 0.021241769194602966
Epoch number: 1990 and the loss : 0.02261674404144287
Epoch number: 2000 and the loss : 0.02082308568060398
Training finished

Calculate the accuracy of the model on test data

In [243]:
writer.add_graph(model, (X_test_categ, X_test_cont))
writer.flush()

# Run on the Test Data
y_pred=""
with torch.no_grad():
    y_pred=model(X_test_categ, X_test_cont)
    loss = loss_function(y_pred, y_test)
print('Error: {}'.format(loss))

Error: 0.25923705101013184

Save the model

In [244]:
torch.save(model.state_dict(),'model.pt')